* {
    padding: 10px;
    margin: Auto;
    font-size: 20px;
    /* text-align: center; */
}
a{
    font-size: 20px;
}
.mono-type {
    font-family: "Courier New", Courier, monospace;
    display: block;
}
.row {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}

.column {
    flex: 20%;
    padding: 5px;
}
.column2 {
    flex: 20%;
    padding: 5px;
}

#puzzleTable {
    font-size: 20px;
}
#solutionTable {
    font-size: 20px;
}

#wordsTable {
    font-size: 20px;
}
#wordList{
    text-decoration: underline;
}
#solution{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#myDIV{
    display: none;
}
